:root {
  --base-color: #6e6e6e;
  --darker-color: #5c5c5c;
  --lighter-color: #7f7f7f;
  --highlight-color: #a3a3a3;
  --shadow-color: #4b4b4b;
  --text-color: #fff;
  --background-color: #1e1e1e;
  --border-radius: 10px;
}

body {
  font-family: 'Press Start 2P', Arial, sans-serif;
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
  color: var(--text-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('resources/backgrounds/garden.gif') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.launcher {
  display: flex;
  height: 80vh;
  width: 80vw;
  background-color: var(--background-color);
  border: 2px solid var(--shadow-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 0 10px #000;
  position: relative;
  z-index: 1;
}

.sidebar {
  width: 200px;
  background-color: var(--darker-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.tab {
  padding: 15px;
  cursor: pointer;
  text-align: center;
  margin: 5px 0;
  background-color: var(--base-color);
  border: 5px solid var(--shadow-color);
  transition: background-color 0.3s, transform 0.3s;
  border-radius: var(--border-radius);
}

.tab:hover, .tab.active-tab {
  background-color: var(--lighter-color);
  transform: translateY(-3px);
}

.content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.tab-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: none;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: var(--border-radius);
}

.tab-content.active {
  display: block;
  opacity: 1;
}

.dropdown {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--darker-color);
  border: 2px solid var(--shadow-color);
  padding: 10px;
  position: relative;
  border-radius: var(--border-radius);
}

.dropdown label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.dropdown select {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--shadow-color);
  background-color: var(--base-color);
  color: #fff;
  font-size: 14px;
  outline: none;
  appearance: none;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
}

.dropdown select:hover {
  background-color: var(--lighter-color);
  transform: translateY(-2px);
}

.dropdown::after {
  content: '▼';
  color: #fff;
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 65%;
  transform: translateY(-80%);
  pointer-events: none;
  z-index: 2;
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}

.color-picker label {
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}

.color-picker input {
  width: 80%;
  height: 30px;
  border: 2px solid var(--shadow-color);
  border-radius: 5px;
  outline: none;
}

.launch-button {
  padding: 10px 20px;
  background-color: var(--base-color);
  border: 2px solid var(--shadow-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
  border-radius: 5px;
}

.launch-button:hover {
  background-color: var(--lighter-color);
  transform: translateY(-2px);
}

.news-widgets {
  margin-top: 30px;
  text-align: left;
  width: 80%;
}

.news-item {
  background-color: var(--darker-color);
  padding: 10px;
  margin: 5px 0;
  border: 2px solid var(--shadow-color);
  border-radius: var(--border-radius);
}

.scrollable-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  padding: 10px;
}

.scrollable-container .news-item {
  background-color: var(--darker-color);
  padding: 10px;
  margin: 5px 0;
  border: 2px solid var(--shadow-color);
  border-radius: var(--border-radius);
}

.scrollable-container {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--base-color) var(--darker-color);
}

.scrollable-container::-webkit-scrollbar {
  width: 12px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: var(--darker-color);
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: var(--base-color);
  border-radius: 6px;
  border: 2px solid var(--darker-color);
}

#serverj {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 15px;
  height: calc(100% - 40px);
}

#serverj .download-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#serverj .download-buttons h3 {
  margin-bottom: 10px;
  color: var(--shadow-color);
}

#serverj .download-buttons button {
  padding: 10px 20px;
  background-color: var(--base-color);
  border: 2px solid var(--shadow-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
}

#serverj .download-buttons button:hover {
  background-color: var(--lighter-color);
  transform: translateY(-2px);
}

#serverj::-webkit-scrollbar {
  width: 12px;
}

#serverj::-webkit-scrollbar-track {
  background: var(--darker-color);
}

#serverj::-webkit-scrollbar-thumb {
  background-color: var(--base-color);
  border-radius: 6px;
  border: 2px solid var(--darker-color);
}

#settings {
  overflow-y: auto;

}

#settings .dropdown {
  margin-top: 20px;
}

#settings .dropdown label {
  color: #fff;
  margin-bottom: 10px;
}

#settings .dropdown select {
  background-color: var(--base-color);
}

#settings .dropdown select:hover {
  background-color: var(--lighter-color);
}
#settings::-webkit-scrollbar {
  width: 12px; 
}

#settings::-webkit-scrollbar-track {
  background: var(--base-color); 
}

#settings::-webkit-scrollbar-thumb {
  background-color: var(--base-color);
  border-radius: 6px; 
  border: 3px solid var(--lighter-color); 
}

#settings::-webkit-scrollbar-thumb:hover {
  background-color: var(--base-color)
}

.color-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--darker-color);
  border: 2px solid var(--shadow-color);
  border-radius: var(--border-radius);
}

.color-picker-wrapper .color-picker {
  margin: 10px 0;
}

#reset-defaults-button {
  padding: 10px 20px;
  background-color: var(--base-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

#reset-defaults-button:hover {
  background-color: #ff7f50;
  transform: translateY(-2px);
}
